header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $totheligth;
    ul {
        text-align: right;
        padding: 15px 15px;
        margin: 0 auto;
        li {
            color: $determinedpeace;
            display: inline;
            padding: 15px 0px;
        }
    }
    #logo {
        color: $determinedpeace;
        padding: 15px;
        font-family: Roboto Condensed;
    }
}